{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            Imagenes de anime
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus dicta molestias in necessitatibus nemo illum labore eum quibusdam iste, ut nostrum. Recusandae architecto, ipsa sapiente eos impedit earum provident sint.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/melioda_bad.jpeg" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}